body{
    background-color: 4200FF;
}

.logo_area{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: center;
  }
  
  @keyframes arrows {
    0%,
    100% {
      color: #EEEEEE;
      transform: translateY(0);
    }
    50% {
      color: #080065;
      transform: translateY(20px);
    }
  }
  
  span {
    --delay: 0s;
    animation: arrows 1s var(--delay) infinite ease-in;
  }